*{
    text-decoration: none;
    list-style: none;
    border: 0;
    margin: 0;
    padding: 0;
    font-family: 'urbanist', sans-serif;
    box-sizing: border-box;
}
/*header start*/
header{
    background-color: #EFF4F8;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 147px;
    max-height: 200px;
    min-height: 120px;
}
span{
    font-weight: bolder;
}
.Navbar{
    display: flex;
    justify-content: space-evenly;
    font-weight: bold;
    font-size: 26px;

}

.Navbar-item{
    margin-left: 20px;
}

.Navbar-option{
    color: #4E4E4E;
}

.Navbar-option:hover {
    color: #238E95;
}
.Logo{
    height: 120px;
    max-height: 147px;
    min-height: 100px;
}

/*header end*/
/*body basics start*/
body{
    background-image: linear-gradient(#238E95, white);
    background-repeat: no-repeat;
}
/*body basics end*/

/*Home*/
/*intro*/

.intro{
    background-image: url(/assets/pa.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
}

.intro:after{
    content: '';
    background: #238E95;
    opacity: 0.55;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    position: absolute;
}

.letras-intro{
    z-index: 2;
    color: white;
    text-align: center;
    
}

.titulo-intro{
    font-size: 42px;
}

.frase-intro{
    margin: 20px;
    margin-top: 3px;
    font-size: 30px;
}

.paragrafo-intro{
    font-size: 25px;
    margin: 0 30px;
}
/*intro end*/
/*imagens start*/
.caixa-funcoes{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 100px;
    padding: 0px;
}

.texto-direita{
    color: white;
    margin-right: 200px;
    max-width: 660px;
}

.texto-esquerda{
    color: white;
    margin-left: 200px;
    max-width: 660px;
}

.titulo-meio{
    color: #238E95;
    text-shadow: none;
    margin-bottom: 20px;
    font-size: 30px;
    font-size: 25px;
}
.paragrafo-meio{
    color: #238E95;
    text-shadow: none;
    font-size: 25px;

}

.titulo-fim{
    color: #2d595e;
    text-shadow: none;
    margin-bottom: 20px;
    font-size: 30px;
}

.paragrafo-fim{
    color: #2d595e;
    text-shadow: none;
    font-size: 25px;

}

.titulo{
    margin-bottom: 20px;
    font-size: 30px;
}

.paragrafo{
    font-size: 25px;
}

.imagem{
    height: 560px;
    width: 252px;
}
/*imagens start*/
/*fim start*/
.fim{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px 100px;
}

.botao{
    background-color: #238E95;
    color: white;
    padding: 17px 34px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 40px;
    margin-top: 20px;
    border-radius: 15px;
}

.botao:hover{
    background-color: white;
    border: 2px solid black; 
    color: #238E95;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 40px;
    margin-top: 20px;
    border-radius: 15px;
}
/*fim end*/
/*Home end*/
/*Cadastro start*/
.cadastroBody{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    margin-top: 50px;
}

.forms{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 26px;
    margin: 20px 20px;
    margin-bottom: 0px;
}

.caixinhaInput{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.caixaInput{
    font-size: 24px;
    border-radius: 15px;
    padding:15px 35px;
    background-color: white;
    color:#4E4E4E;
}

.caixaInput::placeholder{
    color:#9e9e9e;
    font-style: italic;

}

.submi{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

footer{
    display: flex;
    justify-content: center;
    bottom: 0;
    width: 100%;
    font-size: 18px;
    margin: 10px 0px;
}